{% load static %}
<!doctype html>
<html lang="en">
<!-- head -->
  {% include 'blog/head.html'%}
  <!-- end head -->
  <body class="fixed-sn cyan-skin">
  <!-- navigation -->
  {% include 'blog/navigation.html' %}
    <!-- end navigation -->
    <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    <!-- header -->
  {% include 'blog/header.html' %}
    <!-- end header -->

    
  {% block content %}
  {% endblock %}
  <!-- footer -->
{% include 'blog/footer.html' %} 
<!-- end footer -->
<!-- script -->
{% include 'blog/script.html' %} 
<!-- end script -->


</body>
</html>