
<div class="calling">
<div class="text-center d-none d-sm-none d-md-none d-lg-block">  
<!--Unique-->
<a href="{% url 'cars:car_index' %}" class="btn black-text margin-bottom-cat margin-right-cat" > <i class="fas fa-car fa-3x green-text"></i>🚗 Auto </a>

<!--Pink-->
<a  href="{% url 'houses:house_index' %}" class="btn margin-bottom-cat margin-right-cat" ><i class="fas fa-city fa-3x pink-text"></i>🏪 Commercial </a>
<!--Indigo-->
<a  href="{% url 'houses:house_index' %}" class="btn margin-bottom-cat margin-right-cat" ><i class="fas fa-store-alt fa-3x indigo-text"></i>🏠 house for sell/rent </a>

<!--Purple-->
<a href="{% url 'jobbs:job_index' %}" class="btn margin-bottom-cat margin-right-cat" aria-hidden="true"><i class="fas fa-user-graduate fa-3x purple-text"></i><i class="fas fa-user-md fa-3x deep-purple-text"></i><strong> training & jobs</a>   
</div>
</div>
 <!-- image main post -->