{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12">
            <h1>Thank you for your email, we will contact you shortly</h1>
            <h5 class="text-center">sincerly yours</h5>
            <h6 class="text-center">iMarket Team</h6>
        </div>
        <div class="container z-depth-1 my-5 py-5 px-4 px-lg-0">

  <!-- Section -->
  <section>
   
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">How to sell your product</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">This is step by step on how to use our ONLINE MARKET</p>
    
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <ol class="timeline">
          <li class="timeline-element">
            <h5 class="font-weight-bold dark-grey-text mb-3">Register</h5>
            <p class="grey-text font-small"><time datetime="2017-02-08">step 1</time></p>
            <p class="text-muted">Register using your username,email and password to be able to sell your products.</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold dark-grey-text mb-3">Upload 5 pictures</h5>
            <p class="grey-text font-small"><time datetime="2017-08-17">step 2</time></p>
            <p></p>
            <p class="text-muted">chose clear and correct pictures of your products, make sure that they are in .png, .jpg, .jpeg format,upload your picture and fill all fields to give all information regarding your products.</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold dark-grey-text mb-3">Finaly</h5>
            <p class="grey-text font-small"><time datetime="2018-03-26">step 3</time></p>
            <p class="text-muted">Go to main page and see your items ready on the market.</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold dark-grey-text mb-3">Donate</h5>
            <p class="grey-text font-small"><time datetime="2018-04-14">step 4</time></p>
            <p class="text-muted">we work hard to save the envilonment by planting trees and clearn the ocean, your donation is needed!!! GO to donation page and save the WORLD</p>
          </li>
        </ol>

      </div>
    </div>
    
  </section>
  <!-- Section -->
  
</div>   
    </div>
</div>
{% endblock %}